<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title>Apolo Solutions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" th:href="@{/images/icono.svg}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body class="fw-light">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-2 text-white min-vh-100">
                    <a th:href="@{/Inicio}"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none mt-4 text-center">
                        <span class="fs-4 d-none d-sm-inline">
                            <i class="bi bi-columns-gap"></i>
                            Apolo Solutions
                        </span>
                    </a>
                    <hr class="w-100" style="margin-top: 0px;">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white w-100"
                        id="menu">
                        <li class="nav-item w-100" data-aos="fade-right" >
                            <a th:href="@{/Inicio}" class="nav-link align-middle text-white active px-3">
                                <i class="fs-4 bi-house mr-3"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                            </a>
                        </li>
                        <div sec:authorize="hasRole('ADMIN')">
                            <li class="nav-item w-100" data-aos="fade-left" >
                                <a th:href="@{VerEmpresas}" class="nav-link align-middle text-white px-3">
                                    <i class="fs-4 bi bi-building mr-3"></i><span class="ms-1 d-none d-sm-inline">
                                        Empresas</span>
                                </a>
                            </li>
                        </div>
                        <div sec:authorize="hasRole('ADMIN')">
                            <li class="nav-item w-100" data-aos="fade-right" >
                                <a th:href="@{VerUsuarios}" class="nav-link align-middle text-white px-3">
                                    <i class="fs-4 bi bi-people mr-3"></i> <span
                                        class="ms-1 d-none d-sm-inline">Usuarios</span></a>
                            </li>
                        </div>
                        <li class="nav-item w-100" data-aos="fade-left">
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/VerMovimientos}" class="nav-link align-middle text-white px-3">
                                <i class="fs-4 bi bi-currency-exchange mr-3"></i><span class="ms-1 d-none d-sm-inline">
                                    Transacciones</span></a>
                            <a sec:authorize="hasRole('USER')" th:href="@{/VerMovimientos/MiEmpresa/}" class="nav-link align-middle text-white px-3">
                                <i class="fs-4 bi bi-currency-exchange mr-3"></i><span class="ms-1 d-none d-sm-inline">
                                    Transacciones</span></a>
                        </li>
                        <li class="nav-item w-100" data-aos="fade-right" >
                            <a href="#" class="nav-link align-middle text-white px-3">
                                <i class="fs-4 bi bi-speedometer2 mr-3"></i><span class="ms-1 d-none d-sm-inline "> Mis
                                    Datos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col py-3" id="navbarNavAltMarkup">
                <div class="ml-5 pl-5 fw-light text-end">
                    <div class="dropdown ">
                        <a class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://cdn-icons-png.flaticon.com/512/4195/4195922.png" alt="avatar" width="30" height="30"
                                 class="rounded-circle">
                            Bienvenido [[${#httpServletRequest.getUserPrincipal().getName()}]]
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end">
                            <li><a class="dropdown-item disabled" >Mi Perfil</a></li>
                            <li><a class="dropdown-item disabled" >Actualizar Datos</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Salir" class="dropdown-item">
                            </form>
                        </ul>
                        <hr>
                    </div>
                </div>
                <div class="container pt-3">
                    <h1 class="fw-light mt-2">¿Que deseas realizar hoy?</h1>
                </div>
                <div class="container pt-2">
                    <div class="row row-cols-1 row-cols-md-3 g-4 " style="margin-top: -40px;">
                        <div class="col pt-5" sec:authorize="hasRole('ADMIN')">
                            <div class="card" data-aos="slide-up" data-aos-duration="1100">
                                <img th:src="@{/images/empresas.jpg}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a th:href="@{/VerEmpresas}"
                                       class="card-title btn btn-outline-dark text-center w-100 fw-light">
                                        Empresas
                                        <i class="fs-5 bi bi-building mr-3"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col pt-5"  sec:authorize="hasRole('ADMIN')">
                            <div class="card" data-aos="slide-up" data-aos-duration="1200">
                                <img  th:src="@{/images/empleados.jpg}" class="card-img-top" alt="..."  />
                                <div class="card-body">
                                    <a th:href="@{/VerUsuarios}"
                                        class="card-title btn btn-outline-dark text-center w-100 fw-light">
                                        Usuarios 
                                        <i class="fs-5 bi bi-people mr-3 ml-5"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col pt-5">
                            <div class="card" data-aos="slide-up" data-aos-duration="1300">
                                <img th:src="@{/images/transacciones.jpg}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/VerMovimientos}"
                                        class="card-title btn btn-outline-dark text-center w-100 fw-light">
                                        Transacciones
                                        <i class="fs-5 bi bi-currency-exchange mr-3"></i>
                                    </a>
                                    <a sec:authorize="hasRole('USER')" th:href="@{/VerMovimientos/MiEmpresa/}"
                                       class="card-title btn btn-outline-dark text-center w-100 fw-light">
                                        Transacciones
                                        <i class="fs-5 bi bi-currency-exchange mr-3"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col pt-5" sec:authorize="hasRole('USER')">
                            <div class="card" data-aos="slide-up" data-aos-duration="1250">
                                <img th:src="@{/images/transaccion1.jpg}" class="card-img-top" alt="trans1">
                                <div class="card-body">
                                    <a th:href="@{/AgregarMovimiento}"
                                       class="card-title btn btn-outline-dark text-center w-100 fw-light">
                                        Agregar una nueva transacción
                                        <i class="fs-5 bi bi-plus-circle-fill mr-3"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col pt-5" sec:authorize="hasRole('USER')">
                            <div class="card" data-aos="slide-up" data-aos-duration="1200">
                                <img th:src="@{/images/transaccion2.jpg}" class="card-img-top" alt="trans2">
                                <div class="card-body">
                                    <a th:href="@{/VerMovimientos/MisMovimientos/}"
                                       class="card-title btn btn-outline-dark text-center w-100 fw-light">
                                        Mis Movimientos
                                        <i class="fs-5 bi bi-eye-fill mr-3"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1200
        });
    </script>
</body>
</html>