<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apolo Solutions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" th:href="@{/images/icono.svg}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body class="fw-light">
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-2 text-white min-vh-100">
                <a th:href="@{/Inicio}"
                   class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none mt-4">
                        <span class="fs-4 d-none d-sm-inline">
                            <i class="bi bi-grid"></i>
                            Apolo Solutions
                        </span>
                </a>
                <hr class="w-100" style="margin-top: 0px;">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white w-100"
                    id="menu">
                    <li class="nav-item w-100">
                        <a th:href="@{/Inicio}" class="nav-link align-middle text-white  px-3">
                            <i class="fs-4 bi-house mr-3"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                        </a>
                    </li>
                    <div sec:authorize="hasRole('ADMIN')">
                        <li class="nav-item w-100">
                            <a th:href="@{/VerEmpresas}"class="nav-link align-middle text-white px-3 ">
                                <i class="fs-4 bi bi-building mr-3"></i><span class="ms-1 d-none d-sm-inline">
                                        Empresas</span>
                            </a>
                        </li>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')">
                        <li class="nav-item w-100">
                            <a th:href="@{/VerUsuarios}" class="nav-link align-middle text-white px-3 ">
                                <i class="fs-4 bi bi-people mr-3"></i> <span
                                    class="ms-1 d-none d-sm-inline">Usuarios</span></a>
                        </li>
                    </div>
                    <li class="nav-item w-100">
                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/VerMovimientos}" class="nav-link align-middle text-white px-3 active">
                            <i class="fs-4 bi bi-currency-exchange mr-3"></i><span class="ms-1 d-none d-sm-inline">
                                    Transacciones</span></a>
                        <a sec:authorize="hasRole('USER')" th:href="@{/VerMovimientos/MiEmpresa/}" class="nav-link align-middle text-white px-3 active">
                            <i class="fs-4 bi bi-currency-exchange mr-3"></i><span class="ms-1 d-none d-sm-inline">
                                    Transacciones</span></a>
                    </li>
                    <li class="nav-item w-100">
                        <a href="#" class="nav-link align-middle text-white px-3">
                            <i class="fs-4 bi bi-speedometer2 mr-3"></i><span class="ms-1 d-none d-sm-inline "> Mis
                                    Datos</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

            <div class="col py-3">
                <div class="ml-5 pl-5 fw-light text-end">
                    <div class="dropdown ">
                        <a class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                 class="rounded-circle">
                            Bienvenido [[${#httpServletRequest.getUserPrincipal().getName()}]]
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light">
                            <li><a class="dropdown-item active" >Mi Perfil</a></li>
                            <li><a class="dropdown-item" >Actualizar Datos</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Salir" class="dropdown-item">
                            </form>
                        </ul>
                        <hr>
                    </div>
                </div>

                <div class="py-4 mt-5 container" data-aos="fade-up">
                    <form th:action="@{/ActualizarMovimiento}" th:object="${mov}" th:method="POST" class="py-4 px-5 mx-5 shadow-lg">
                        <h1 class="fw-light"> <a onclick="atras()" id="atras" class="btn btn-outline-dark"><i
                                class="bi bi-arrow-left"></i></a> Editar movimiento/transacción </h1>
                        <p class="pt-3 text-muted fst-italic">IMPORTANTE: Recuerde que el campo ID y Fecha del movimiento no pueden ser editados.</p>

                        <!--Campo para ID-->
                        <div class="row">
                        <div class="col">
                            <label for="id" class="pt-3 fw-light form-label">
                                <i class="bi bi-tag"></i> ID *</label>
                            <input type="number" th:field="*{id}" name="id" required class="fw-light form-control w-100" id="id" disabled readonly>
                        </div>
                        <!--Campo para Fecha-->
                            <div class="col">
                                <label class="pt-3 fw-light form-label" for="fecha">
                                    <i class="bi bi-calendar4-week"></i> Fecha del movimiento</label>
                                <input type="date" th:field="*{fechaMovimiento}" id="fecha" required class="fw-light form-control w-100 text-center" disabled readonly>
                            </div>
                        </div>

                        <!--Campo para concepto-->
                        <div class="row">
                            <div class="col">
                                <label for="concepto" class="pt-3 fw-light form-label">
                                    <i class="bi bi-receipt-cutoff"></i> Concepto *</label>
                                <input type="text" th:field="*{concepto}" name="concepto" required class="fw-light form-control w-100"
                                       id="concepto" placeholder="Ejemplo: Papelería">
                            </div>

                            <!--Campo para Monto-->
                            <div class="col">
                                <label for="monto" class="pt-3 fw-light form-label">
                                    <i class="bi bi-currency-dollar"></i> Monto *</label>
                                <input type="number" th:field="*{monto}" name="monto" required class="fw-light form-control w-100" id="monto">
                            </div>
                        </div>

                        <!--Campo para empleado(Usuario responsable)-->
                        <div class="row">
                            <div class="col">
                                <label for="usuario" class="pt-3 fw-light form-label">
                                    <i class="bi bi-people"></i> Usuario responsable *</label>
                                <select th:field="*{usuario_id}" class="fw-light form-select w-100" aria-label="Default select example" id="usuario"
                                        name="usuario" disabled readonly>
                                    <option th:value=*{usuario.id} th:text=*{usuario.nombre} class="fw-light"></option>
                                </select>
                            </div>

                            <!--Campo para empresa-->
                            <div class="col">
                                <label for="empresa" class="pt-3 fw-light form-label">
                                    <i class="bi bi-building mr-3"></i> Empresa *</label>
                                <select th:field="*{empresa_id}" class="fw-light form-select w-100" aria-label="Default select example" id="empresa"
                                        name="empresa">
                                    <option th:each="empresa : ${emprelist}" th:text="${empresa.nombre}" th:value="${empresa.id}" class="fw-light"></option>
                                </select>
                            </div>
                        </div>


                        <div class="pt-4 row text-center">
                            <div class="col">
                                <input type="submit" id="actualizar" value="Actualizar" class="btn btn-outline-dark w-75 text-center"
                                       name="actualizar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1500
        });
        document.getElementById("actualizar").addEventListener("click",function(){
        document.getElementById("id").disabled=false;
        document.getElementById("fecha").disabled=false;
        document.getElementById("usuario").disabled=false;
        }
        )
    function atras(){
      window.location.href = localStorage.getItem("url");
    }
    </script>

</body>

</html>